body {
    overflow-x: hidden;
}

section {
    display: flex;
}

section div {
    width: fit-content;

    border: 1px solid black;
    border-radius: 10px;
    
    padding: 5px;
    margin: 0 10px;
}

#fade {
    opacity: 1;

    transition: 1s;
}

#fade:hover {
    opacity: 0.25;
}

#menu img {
    opacity: 0;
    
    transform-origin: top center;
}

#menu:hover img {
    opacity: 1;

    animation: abrir-menu 1s forwards;
}

#pulsar img {
    display: block;
    animation: pulsar 1s infinite;
}

#movimento {
    display: block;

    animation: movimento 1s infinite;
}

@keyframes movimento {
    0% {
        transform: translate(0, 0) rotate(0);
        }

    50% {
        transform: translate(300%, 50%) rotate(180deg);
    }

    100% {
        transform: translate(100%, 37%) rotate(-90deg);
    }
}

@keyframes abrir-menu {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(100%);
    }
}

@keyframes pulsar {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.01, 1.01);
    }

    100% {
        transform: scale(1, 1);    
    }
}